/.git
/node_modules
/public/hot
/public/css/app.css
/public/js/app.css
/public/mix-manifest.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
**.sqlite
**.sqlite-journal
yarn-error.log

/bootstrap/cache/**
!/boostrap/cache/.gitignore

/storage/**
!/storage/app/.gitignore
!/storage/config/.gitignore
!/storage/consume/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
