/.idea
/node_modules
/public/css/app.css
/public/hot
public/js/app.js
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup'
.php_cs.cache
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
